*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.time-table
{
    width: 100%;
    height: 100%;
    background-color: #000010;
    border-radius: 5px;
    padding: 2rem;
}
.time-table ul
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}
li
{
    list-style-type: none;
    font-size: 1.5rem;
    transition: 1s ease;
}
input
{
    width: 20px;
    height: 20px;
    margin-right: 0.6rem;
    display: inline-block;
}

.strike
{
    text-decoration: line-through;
    animation: strike 0.4s linear;
}

@keyframes strike
{
    from { text-decoration-color: transparent; }
  to { text-decoration-color: auto; }
}

